{% extends "blog/base.html" %}
{% load static %}
{% block title %} {{ block.super }} Dashboard {% endblock title %}

{% block msg %}

    <div class="text-center my-3">
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    </div>

{% endblock msg %}

{% block side %}

    <div class="col-sm-2 text-white my-5 text-center">
        <h4 class="my-5">Profile</h4>
        <h5>{{fullname}}</h5>
        {% for group in groups %}
            <p>{{group.name}}</p>
        {% endfor %}   
    </div>
             
{% endblock side %}

{% block content %}

    <div class="col-sm-10">
        <h3 class="text-white mt-5 mb-3">Dashboard</h3>
        <a href="{% url 'addpost' %}" class="btn btn-success">Add post</a>
        <h4 class="text-center alert alert-secondary mt-3">Posts information</h4>

        {% if posts %}
            <table class="table table-hover table-dark">
                <thead>
                    <tr class="text-center">
                        <th scope="col" style="width: 2%;">Id</th>
                        <th scope="col" style="width: 28%;">Title</th>
                        <th scope="col" style="width: 55%;">Description</th>
                        <th scope="col" style="width: 15%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <th scope="row">{{post.id}}</th>
                            <td>{{post.title}}</td>
                            <td>{{post.desc}}</td>
                            <td class="text-center">
                                <a href="{% url 'updatepost' post.id %}" class="btn btn-warning btn-sm">Edit</a>
                                {% if perms.blog.delete_post %}
                                    <form action="{% url 'deletepost' post.id %}" method="post" class="d-inline">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No records</p>
        {% endif %}
    </div>

{% endblock content %}